/* BODY */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* APP */


/* HEADER */
.header {
  background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  z-index: -1;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 100px 0 0;;
}
.header-text > h1 {
  font-size: 60px;
  margin-bottom: 0;
}
.header-text > h4 {
  margin-top: 5px;
  font-style: italic;
}


/* MAIN */
.main-buttons {
  display: flex;
  justify-content: center;
  margin: 15px;
}


/* ALL-MUSIC */
.all-music-table {
  width: 85%;
  margin: auto;
  text-align: center;
}

td {
  width: 20%;
  background-color: grey;
}


/* ALL PLAYLISTS */
.all-playlists {

}

.playlist-rows {
  border-top: 1px solid black;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.playlists {
  border: 1px solid black;
  width: 175px;
  height: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* MODALS */
.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.edit-song-modal {
  border: 1px solid #888;
  border-radius: 2px;
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .edit-song-form {

  }

.new-song-modal {
  border: 1px solid #888;
  border-radius: 2px;
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .new-song-form {
    display: flex;
    justify-content: center;
  }

.playlist-modal {
  border: 1px solid #888;
  border-radius: 2px;
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .playlist-table {
    
  }
