/* BODY */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* APP */


/* HEADER */
.header {
  background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  z-index: -1;
}
.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 100px 0 0;;
}
.header-text > h1 {
  font-size: 60px;
  margin-bottom: 0;
}
.header-text > h4 {
  margin-top: 5px;
  font-style: italic;
}


/* MAIN */
.main-buttons {
  display: flex;
  justify-content: center;
  margin: 15px;
}


/* ALL-MUSIC */
.all-music-table {
  width: 85%;
  margin: auto;
  text-align: center;
}

td {
  width: 20%;
  background-color: grey;
}


/* ALL PLAYLISTS */
.all-playlists {

}

.playlist-rows {
  border-top: 1px solid black;
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}
.playlists {
  border: 1px solid grey;
  border-radius: 2px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.playlists > h3 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

#morning {
  background-image: url('https://images.unsplash.com/photo-1465488867967-ffb57e7f0a89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');}
#afternoon {
  background-image: url('https://images.unsplash.com/photo-1476616853026-24c1f0309646?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');}
#evening {
  background-image: url('https://images.unsplash.com/photo-1531604250646-2f0e818c4f06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80');}
#night {
  background-image: url('https://images.unsplash.com/photo-1498590880827-3f79fdcd7fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');}
#spring {
  background-image: url('https://images.unsplash.com/photo-1516205651411-aef33a44f7c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');}
#summer {
  background-image: url('https://images.unsplash.com/photo-1532347922424-c652d9b7208e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80');}
#fall {
  background-image: url('https://images.unsplash.com/photo-1467649165350-bdae46d9779b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');}
#winter {
  background-image: url('https://images.unsplash.com/photo-1482331336918-c80fab6c90f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');}
#sunshine {
  background-image: url('https://images.unsplash.com/12/sun-trees.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');}
#rain {
  background-image: url('https://images.unsplash.com/photo-1501691223387-dd0500403074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');}
#clouds {
  background-image: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');}
#woods {
  background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');}
#beach {
  background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');}
#fields {
  background-image: url('https://images.unsplash.com/photo-1420641637488-df930ea6ec80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');}


/* MODALS */
.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.edit-song-modal {
  border: 1px solid #888;
  border-radius: 2px;
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .edit-song-form {

  }

.new-song-modal {
  border: 1px solid #888;
  border-radius: 2px;
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  .new-song-form {
    display: flex;
    justify-content: center;
  }

.playlist-modal {
  border: 1px solid #888;
  border-radius: 2px;
  background-color: white;
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

  .playlist-table {

  }
