/* BODY */
html {
  overflow-x: hidden;
}
body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  /* background-image: url('https://images.pexels.com/photos/861803/pexels-photo-861803.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background-image: url('https://images.pexels.com/photos/1337753/pexels-photo-1337753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'); */
  /* background-image: url('https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80'); */

}

  /* HEADER */
  .header {
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
    height: 915px;
  }
    .header-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 15% 3% 0 0;
      position: sticky;
      /* top:0; */
    }
      .header-text > h1 {
        font-size: 700%;
        margin-bottom: 0;
      }
      .header-text > h4 {
        margin-top: 5px;
        font-style: italic;
      }

  /* INFO */
  .info {
    /* border: 1px solid black; */
    width: 100%;
    height: 500px;
    margin: auto;
    background: white;
  }
  .space {
    width: 100%;
    height: 75px;
    margin: auto;
    background: white;
    margin-bottom: 40%;
  }

/* NEW SONG */
.add-song-div {
  /* border: 2px solid blue; */
  width: 100%;
  height: 7rem;
  position: sticky;
  top: 0;
  /* margin-bottom: 45%; */
}
  .add-song-form {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5%;
    /* margin-bottom: 5%; */
    background: white;
    /* background: rgba(255, 255, 255, .4); */
  }

/* MAIN */
.main {

  width: 100%;
  margin: auto;
  background: white;

}
  .main-buttons {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    margin-bottom: 2%;
  }
  .main-buttons > .button-primary {
    margin: 0px 5px 0px 5px;
    width: 15%;
    height: 50px;
  }
  .main-buttons > .button {
    margin: 0px 5px 0px 5px;
    width: 15%;
    height: 50px;
  }


  /* ALL-MUSIC */
  .all-music {
    /* background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80'); */
    background: rgba(210,180,140,.7);
    width: 100%;
    margin: auto;
    height: 725px;
    overflow: scroll;
    /* margin-bottom: 2.75%; */
  }
    .all-music-table {
      background: rgba(210,180,140,.7);
      width: 75%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      /* margin-right: 2%; */
      margin-bottom: 1%;
    }
      th {
        text-align: center;
        border-radius: 2px;
        border-bottom: none;
        padding: 0px;
        position: sticky;
        top: 0;
        background: rgba(199, 199, 199, 0.7);
      }
        .title-header {
          width: 15%;
        }
        .artist-header {
          width: 10%;
        }
        .album-header {
          width: 20%;
        }
        .location-header {
          width: 25%;
        }
        .delete-header {
          width: 1%;
          background-color: inherit;
        }
      td {
        text-align: center;
        padding: 0px;
        cursor: pointer;
        height: 3rem;
        /* font-size: 16px; */
        /* border-bottom-color: rgba(0,0,0,0.3); */
      }
      tr:hover {
        font-size: 18px;
      }
        .titles {
          width: 10%;
        }
        .artists {
          width: 10%;
        }
        .albums {
          width: 15%;
        }
        .locations {
          width: 10%;
          /* list-style-type: none; */
        }
        .delete {
          width: 1rem;
        }
        #delete {
          padding: 1rem;
          height: 1rem;
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        #delete:hover {
          border: 1.5px solid rgba(255, 0, 0, 0.5);
          font-weight: bolder;
          color: rgba(255, 0, 0, 0.5);
          border-color: rgba(255, 0, 0, 0.5);
        }

  /* ALL PLAYLISTS */
  .all-playlists {
    border: 2px solid blue;
  }
    .playlist-rows {
      border-top: 1px solid black;
      height: 300px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin: auto;
    }
      .playlist-rows > h3 {
        margin-bottom: 0;
        width: 20%;
      }
      .playlists {
        border: 1px solid grey;
        border-radius: 2px;
        margin: 0px 10px 0px 10px;
        width: 30%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        cursor: pointer;
      }
        .playlists > h3 {
          width: 100%;
          height: 50%;
          margin-bottom: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          /* background-color: rgba(0, 0, 0, 0.4); */
        }

      .playlist-modal {
        /* border: 1px solid #888; */
        /* background-color: #888; */
        border-radius: 2px;
        margin: 8% auto;
        position: relative;
        padding: 1.5%;
        width: 35%;
        height: 70%;
        text-align: center;

        /* display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; */
      }
      .playlist-modal > h2 {
        text-align: center;
      }
        .playlist-div {
          width: 100%;
          height: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-bottom: 5%;
          overflow: auto;
        }
          .playlist-table {
            width: 95%;
            height: 80%;
            margin: 0 auto;
            background: rgba(255, 255, 255, 0.7);
          }
          #close-button {
            background-color: rgba(0,0,0,0.8);
            color: white;
            width: 35%;
          }

  #morning {
    background-image: url('https://images.unsplash.com/photo-1465488867967-ffb57e7f0a89?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
  }
  #afternoon {
    background-image: url('https://images.unsplash.com/photo-1476616853026-24c1f0309646?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80');
    background-size: cover;
  }
  #evening {
    background-image: url('https://images.unsplash.com/photo-1531604250646-2f0e818c4f06?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=632&q=80');
    background-size: cover;
  }
  #night {
    background-image: url('https://images.unsplash.com/photo-1498590880827-3f79fdcd7fbe?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
  }
    #night > h2 {
      color: rgba(255, 255, 255, 0.8);
    }
  #spring {
    background-image: url('https://images.unsplash.com/photo-1516205651411-aef33a44f7c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80');
    background-size: cover;
  }
  #summer {
    background-image: url('https://images.unsplash.com/photo-1532347922424-c652d9b7208e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80');
    background-size: cover;
  }
  #fall {
    background-image: url('https://images.unsplash.com/photo-1467649165350-bdae46d9779b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: cover;
  }
  #winter {
    background-image: url('https://images.unsplash.com/photo-1482331336918-c80fab6c90f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');
    background-size: cover;
  }
  #sunshine {
    background-image: url('https://images.unsplash.com/12/sun-trees.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
    background-size: cover;
  }
  #rain {
    background-image: url('https://images.unsplash.com/photo-1501691223387-dd0500403074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
    background-size: cover;
  }
  #clouds {
    background-image: url('https://images.unsplash.com/photo-1500740516770-92bd004b996e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80');
    background-size: cover;
  }
    #clouds > h2 {
      color: rgba(255, 255, 255, 0.8);
    }
  #woods {
    background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
  }
    #woods > h2 {
      color: rgba(255, 255, 255, 0.8);
    }
  #beach {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
    background-size: cover;
  }
  #fields {
    background-image: url('https://images.unsplash.com/photo-1420641637488-df930ea6ec80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');
    background-size: cover;
  }

  /* MODALS */
  .modal-container {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

  .modals {
    border: 1px solid #888;
    border-radius: 2px;
    background-color: white;
    margin: 7% auto;
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* FORMS */
  .forms {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 1%;
  }

  .form-fields {
    width: 90%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .form-buttons {
    display: flex;
    justify-content: center;
    height: auto;
    width: 50%;
    margin: auto;
  }




/* MEDIA */
@media only screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
  .header {
    height: 80rem;
    /* background-position: 50%; */
  }
    .header-text {
      background-color: rgba(199, 199, 199, 0.5);
      margin:  60% auto 0 auto;
      text-align: center;
      color: black;
    }
    .header-text > h1 {
      font-size: 500%;
    }
    .add-song-div {
      height: 0px;
    }
    .add-song-form {
      width: 100%;
      margin: 0;
      height: 33rem;
    }
    .form-fields {
      flex-direction: column;
      align-content: center;
      width: 70%;
      margin-top: 5%;
    }
    .info {
      height: 40rem;
    }
  .main {
    width: 100%;
  }
  .main-buttons {
    width: 100%;
    margin-bottom: 5%;
  }
  .space {
    margin-bottom: 75%;
  }
  .main-buttons > .button-primary {
    width: 50%;
    height: 15%;
  }
  .main-buttons > .button {
    width: 50%;
    height: 15%;
  }

  .all-music {
    width: 100%;
  }
  .all-music-table {
    height: 5%;
    width: 100%;
    /* margin: auto; */
    /* text-align: center; */
  }
  #delete {
    color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
  }
  td {
    padding: 2rem 0 2rem 0;
    font-size: 12px;
  }
  label {
    margin-bottom: 0px;
    height: 50px;
    width: 100%;
  }
  .title {
    width: 5%;
  }
  .artist {
    width: 5%;
  }
  .album {
    width: 8%;
  }
  .energy, .weight {
    display: none;
  }
  .playlist-rows {
    flex-direction: column;
    height: auto;
    margin: 2% auto 2% auto;
  }
  .playlist-rows > h3 {
    width: 100%;
    text-align: center;
    overflow: visible;
    font-weight: 500;
    margin: 2% auto 1% auto;
  }
  .playlists {
    width: 100%;
    height: 30rem;
    margin: 2% auto 2% auto;
  }
  .playlist-modal {
    margin: 30% auto;
    width: 90%;
  }
  .playlist-div {
    width: 90%;
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
  }
  .playlist-table {
    width: 100%;
  }
  td {
    border-bottom-color: rgba(0, 0, 0, 0.5);
  }
  .album-header {
    display: none;
  }
  .albums {
    display: none;
  }
  #close-button {
    margin-top: 2%;
    width: 90%;
  }

  .modals {
    border: 1px solid #888;
    border-radius: 2px;
    background-color: white;
    margin: 30% auto;
    padding: 15px;
    width: 60%;
    height: auto;
  }
  button {
    margin-bottom: 0px;
  }

  .forms {
    margin-bottom: 0px;
  }
}


/* SPACE */
/* .space {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1444990689320-bd2a7a839644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1507&q=80');
  background-image: url('https://images.pexels.com/photos/1759350/pexels-photo-1759350.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-image: url('https://images.pexels.com/photos/1337753/pexels-photo-1337753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10px;
  height: 600px;
} */
/* .space2 {
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1444990689320-bd2a7a839644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1507&q=80');
  background-image: url('https://images.pexels.com/photos/1337753/pexels-photo-1337753.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
} */
