body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */
.header {
  background-image: url('https://images.unsplash.com/photo-1483412033650-1015ddeb83d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  color: white;
  z-index: -1;
}

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 100px 0 0;;
  }

  .header-text > h1 {
    font-size: 60px;
    margin-bottom: 0;
  }
  .header-text > h4 {
    margin-top: 5px;
    font-style: italic;
  }

/* MAIN */
.mainbuttons {
  display: flex;
  justify-content: center;
  margin: 15px;
}

/* ALL-MUSIC */
.allmusictable {
  width: 85%;
  margin: auto;
  text-align: center;
}

  td {
    width: 33%;
    background-color: grey;
  }

.addmusic {
  display: flex;
  justify-content: center;
}
